<% provide(:title, 'Home') %>

<div class="jumbotron">
  <div class = "container center">
    <div id = "header">
      <h1 class = "h1">Welcome to the League of Teemo!</h1>
    </div>
    <%= form_tag("/search", method: "get",) do %>
        <div class = "container" id = "bar">
          <%= text_field_tag :summoner, nil, :placeholder => "Enter a summoner here.", :class => 'form-control' %>

          <div class="btn-group" id = "regions" data-toggle="buttons">
            <label class = "btn btn-default active">
              <%= radio_button_tag(:region, 'na', true, :name =>'region', :style=>"display:none")%> NA
            </label>
            <label class = "btn btn-default">
              <%= radio_button_tag(:region, 'euw', nil, :name =>'region', :style=>"display:none")%>EUW
            </label>
            <label class = "btn btn-default">
              <%= radio_button_tag(:region, 'eune', nil, :name =>'region', :style=>"display:none")%>EUNE
            </label>
          </div>
        </div>
        <%= submit_tag("Let's Teemo!", :name => nil, :class => 'btn btn-info', :id => 'submit-button') %>
    <% end %>
    <p>
      Implementing features soon!
    </p>
  </div>
</div>
