<% provide(:title, 'Teemo!') %>
<h3 class = "hero-unit">Teemo Statistics</h3>
<body class = "center">
    <div>Number of times Teemo was played by <%= @results.summoner %>: <%= @results.teemo_count_me %></div>
    <div>Number of times Teemo was played in <%= @results.summoner %>'s last ten games: <%= @results.teemo_count_total %></div>

    <div>Enemies of Teemo were blinded and/or slowed by mushrooms for around <%= distance_of_time_in_words(@results.teemo_CC)%>.</div>

</body>