<% provide(:description, 'League of Teemo, the Teemo statistics lookup tool.') %>
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>League of Teemo | <%=yield(:title)%></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Teemo" %>">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<div class = "container">
  <header>
    <%= render 'layouts/navigation' %>
  </header>
  <% flash.each do |key, value| %>
      <%= render 'layouts/messages' %>
  <% end %>
  <body>
  <%= yield %>
  </body>
</div>

<footer class = "container">
    <ul class ="navbar nav">
      <li>This product is not endorsed, certified or otherwise approved in any way by Riot Games, Inc. or any of its affiliates.</li>
    </ul>
</footer>

</html>

