<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>League of Teemo|<%=yield(:title)%></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Teemo" %>">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <script src="https://code.jquery.com/jquery.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= render 'layouts/navigation' %>
</header>

<%= render 'layouts/messages' %>
<%= yield %>

</body>
</html>
